.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 90px;
  top: 0;
  width: 100%;
  z-index: 10;
}
.header.bg {
  background-color: #131014f1;
  transition: 0.2s;
}
.title {
  background-color: rgba(23, 23, 24, 0.788);
}
.header h1 a {
  padding: 2px;
  font-weight: 900;
  font-size: 1.3em;
}
.header h1 {
  border: 1px solid rgb(31, 29, 29);
  box-shadow: 2px 2px 5px rgb(145, 51, 132);
}
.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.nav-menu li {
  padding: 10px 20px;
}
.nav-menu li a {
  font-weight: 500;
  font-size: 1.6em;
}
.nav-menu li i {
  font-size: 0.9em;
}
.header .menu {
  font-weight: 1700;
  font-size: 1.8em;
  display: none;
}

@media screen and (max-width: 1100px) {
  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    display: flex;
    position: absolute;
    top: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;
    margin: 0px;
    padding: 0px;
    z-index: 1;
  }

  .header h1 {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 1.5em;
    font-weight: 500;
  }
  .nav-menu li a {
    font-size: 1.6em;
  }
  .header .menu {
    position: absolute;
    top: 7px;
    right: 10px;
    display: initial;
    z-index: 1;
    font-weight: 700;
    font-size: 1.2em;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 10;
  }
}
